:root {
  --background-color: hsl(150, 1%, 95%);
  --text-color: hsl(25, 2%, 13%);
  --black-color: hsl(0, 0%, 0%);
  --accent: hsl(25, 82%, 53%);
  --accent-bg: hsl(0, 0%, 100%);
  --yellow-color: hsl(45, 98%, 52%);
  --orange-primary-color: hsl(22, 84%, 56%);
  --orange-secondary-color: hsl(18, 89%, 59%);
  --focus: hsl(216, 94%, 58%);
  --font: 1.2rem/1.53 'Avenir Next Cyr', sans-serif;
  --transition: 0.2s all ease;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  --thumbBG: hsl(0, 0%, 75%);
  scroll-behavior: smooth;
  font-size: calc(18px + 0.25vw);
}

body:not(.ortalex__logo) {
  margin: 0;
  font: var(--font);
  font-display: swap;
  font-feature-settings: "case", "calt", "tnum", "ss01", "zero";
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  background-color: var(--background-color);
  color: var(--text-color);
  scrollbar-color: var(--thumbBG);
  line-height: 1.6;
  letter-spacing: 0.01em;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('AvenirNextCyr-Regular.woff2') format('woff2'),
    url('AvenirNextCyr-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::selection {
  background-color: var(--accent);
  /* WebKit/Blink Browsers */
}

:focus {
  outline: 2px solid var(--focus);
}

/** link
   * Based on LoVe/HAte css specificity rule
   */

a:link {
  color: var(--text-color);
  word-break: break-word;
}

a:visited {
  color: var(--text-color);
  /* TODO: change color */
}

a:hover {
  color: var(--text-color);
  /* TODO: change color */
}

a:active {
  color: var(--text-color);
  /* TODO: change color */
}

.grey-text {
  color: var(--text-color);
}

.black-text {
  color: var(--black-color);
}

img {
  max-width: 100%;
}

/* and the class clearfix to an element to force it to contain its floated contents (this is used as a fallback for browser that don't support flex and grid */

.float-left {
  float: left;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* show focus only when user is tabbing, you can find it's relevant JS code in main.js*/

body:not(.user__is__tabbing) a:focus,
body:not(.user__is__tabbing) button:focus {
  outline: none;
}

/* custom scrollbar */

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 50px;
  border: 3px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 56%);
}

/* general classes
     ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.01em;
}

h1 {
  font-size: 1.858rem;
  margin: 0;
}

/* utility classes
     ========================================================================== */

/* display modifiers */

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-inline-block {
  display: inline-block !important;
}

/* justify content */
.jc-sb {
  justify-content: space-between !important;
}

.jc-sa {
  justify-content: space-around !important;
}

/* text modifiers */

.text-align-center {
  text-align: center !important;
}

/* position modifiers */

.position-relative {
  position: relative !important;
}

/* margin modifiers */

.m-1 {
  margin: 0.25em;
}

/* padding modifiers */

.p-1 {
  padding: 0.25em;
}

.text-decoration-none {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.accent__bg {
  background-color: var(--accent-bg);
}

/* custom classes */
.hidden__text {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.ortalex__header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.ortalex__header ul, .ortalex__header ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ortalex__header nav {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.25em;
}

.ortalex__header nav a {
  text-decoration: none;
  color: var(--black-color);
}

main {
  background-color: var(--background-color);
  min-height: 100vh;
}

.ortalex__logo {
  width: 18vw;
  min-width: 10em;
}

.ortalex__container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1.25em;
}

.ortalex__about__container ul li {
  color: var(--accent-bg);
  list-style-type: none;

}

.ortalex__about__container ul li>span {
  color: var(--orange-primary-color);
}

.ortalex__team__container {
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: 1fr;
  grid-gap: 1.25em;
}

.ortalex__team__member__image {
  filter: grayscale(100%);
  height: 20em;
  overflow: hidden;
  padding-top: 100%;
  width: 100%;
}

.ortalex__team__member__image__src {
  bottom: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  /* TODO: might be fixed width and height */
  height: 100%;
}

.ortalex__team__member__data {
  padding: 15px 70px 15px 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  color: white;
  background-color: black;
}

.ortalex__team__member__data > * {
  margin: 0;
}

.trail {
  position: absolute;
  width: 3.75em;
  height: 3.75em;
  margin-top: -30px;
  margin-left: -30px;
  background-size: cover;
  background: url(../images/emoji-trail.png) no-repeat;
  pointer-events: none;
}

.wrapper {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1rem + (8 - 1) * ((100vw - 20rem)/ (100 - 20)));
  padding-right: calc(1rem + (8 - 1) * ((100vw - 20rem)/ (100 - 20)));
}

/* desktop/tablet styles
     ========================================================================== */
@media screen and (min-width: 80em) {
  :root {
    --font: 1.6rem/1.63 "Avenir Next Cyr", sans-serif;
  }

  h1 {
    font-size: 2.585rem;
  }

  .ortalex__container {
    flex-direction: row;
  }

  .ortalex__team__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}